@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}

main {
    background-color: burlywood;
    text-align: center;
    margin-inline: 100px;
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(118, 93, 60);
}

input {
    padding: 5px;
    border-radius: 8px;
}

button {
    border-radius: 14px;
}