*{
  margin: 0;
  padding: 0;
  text-align: center;
}

div
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:40px;
}

#search
{
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform .7s ease-in-out;
  margin-left:10px;
}

img{
  width: 30px;
  height: 30px;
}

#title
{
  text-align: center;
  color: black;
}

#search
{
  width: 357px;
  margin: 4px auto;
  text-align: center;
  display: inline-block;
}

#search_text 
{
  width: 250px;
  padding: 15px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  height: 40px;
  margin-right: 0;
  color: black;
  outline: none;
  background: white;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}

#search_button
{
  color: lightblue;
  background: "https://png.pngtree.com/element_our/20190529/ourmid/pngtree-cartoon-blue-magnifying-glass-illustration-image_1214215.jpg";
  background-position: 30px 30px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: 0 none;
  outline: none;
  box-sizing: border-box;
  float: center;
  border-radius: 12px;
  transform: rotate(360deg);
}


